body {
    font-family: 'Segoe UI', sans-serif;
    background-color:#0F172A;
    margin: 0;
    padding: 0;
  }
  
  .about-section {
    padding: 4rem 2rem;
    background-color:#0F172A;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    max-width: 800px;
    min-height: 20rem;
    margin: auto;
    text-align: center;
  }
  
    .about-section h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: end;
  }
  
  p {
    color: white;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
 
  
  @media (max-width: 768px) {
    .about-section {
      padding: 2rem 40px;
      width: 90%;
    }
  
    .container {
      padding: 0 1rem;
     
    }
  
    .about-section h1 {
      font-size: 2rem;
      text-align: center;
    }
  
    p {
      font-size: 1.1rem;
       text-align: left;
    
    }


    
  }
